[versions]
junit = "5.9.2"

[libraries]
jacamo = { module = "org.jacamo:jacamo", version = "1.1" }
junit-api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit" }
junit-engine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "junit" }

[bundles]

[plugins]
java-qa = { id = "org.danilopianini.gradle-java-qa", version = "1.6.0"}